<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title> News Parsing Service | Latest News </title>

        <link rel="shortcut icon" href="{{ asset('images/favicon.jpg') }}">

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    </head>
    <body>
        <div class="frame">
            <!-- HEADER -->
            {{ include('partials/_header.html.twig') }}

            <!-- CONTENT -->
            {% block body %}{% endblock %}
        </div>
        
        <script src="{{ asset('js/bootstrap.js') }}" ></script>
    </body>
</html>