{% extends 'layouts/layout1.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for item in news %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img 
                    {% if(item.picture != '') %}
                        src="{{ item.picture }}"
                    {% else %}
                        src="{{ asset('images/favicon.jpg') }}"
                    {% endif %}
                    class="card-img-top" alt="{{ item.title }}" >
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-secondary">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container paginate">
        <div class="row">
            <div class="col-md-12">
                {# <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav> #}


             </div class="navigation"></div>
                {{ knp_pagination_render(news) }}
             </div>
        </div>
    </div>

{% endblock %}
